html, body {
  height: 100%;
  overflow-x:hidden;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  padding-bottom:5em;
  padding-top:1em;
  color: #333;
  font-family: sans-serif;

  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;    

}

h1,h2,h3 { padding:0; margin:0; }

.container {
  background-color:white;
  padding: 2em;
  max-width:500px;
}
